.expertise{
    padding: 70px 0 15px;
    text-align: center;
}
.expertise__description{
    margin-bottom: 98px;
}
.expertise__title{
    margin-bottom: 15px;
}
.expertise__item{
    padding: 0 27px;
    margin-bottom: 85px;
    .item__img{
        margin-bottom: 35px;
    }
    .item__title{
        margin-bottom: 25px;
    }
}