/* normalize */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ol,
li,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0;
}

button,
button:active,
button:focus {
  outline: none;
}

input,
textarea {
  padding: 0;
  margin: 0;
  outline: none;
}

p,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
address {
  padding: 0;
  margin: 0;
}
html{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* content */
body {
  position: relative;
  @include roboto-font-regular;
  font-size: 14px;
  line-height: 1;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #333333;
  overflow-x: hidden;
  transition: transform 0.4s ease-out;
}
/* logo */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__title {
  @include roboto-font-thin;
  font-size: 30px;
  background: linear-gradient(45deg, $base-color-lite 0%, $base-color-dark 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* custom-btn */
.custom-btn {
  @include hammersmith-font-regular;
  font-size: 16px;
  text-transform: uppercase;
  color: $base-color-lite;
  padding: 11px 15px 8px;
  border: 1px solid $base-color-lite;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  transition: .2s ease-in-out;
  text-decoration: none;
  background: transparent;
  
  &::before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
    z-index: 0;
  }
  &:hover {
    background: $base-color-lite;
    color: #fff;
  }
  &:hover::before {
    left: 150px;
    transition: .5s ease-in-out;
  }
}
// .custom-btn {
//   @include hammersmith-font-regular;
//   font-size: 16px;
//   text-transform: uppercase;
//   color: $base-color-lite;
//   padding: 11px 15px 8px;
//   border: 1px solid $base-color-lite;
//   border-radius: 1px;
//   transition: all 0.15s linear;
//   &:hover {
//     color: #fff;
//     border: 1px solid $base-color-dark;
//     background-color: $base-color-dark;
//   }
// }
/* section-title */
.section-title {
  @include playfair-font-bold;
  font-size: 22px;
  text-transform: uppercase;
  color: $base-font-color;
}
/* item__title */
.item__title {
  @include roboto-font-black;
  font-size: 14px;
  text-transform: uppercase;
  color: $base-font-color;
}
/* item__subtitle */
.item__subtitle {
  @include roboto-font-light;
  color: #afadbb;
  font-size: 13px;
  text-transform: uppercase;
}
/* section__text */
.section__text {
  @include roboto-font-regular;
  font-size: 14px;
  line-height: 1.5;
  color: $base-font-color;
}
/* footer__text */
.footer__text {
  @include roboto-font-light;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}
/* small menu item */
.small-menu__link {
  @include raleway-font-regular;
  font-size: 32px;
  line-height: 1.7;
  color: #ffffff;
  text-transform: capitalize;
}
/* with-underline */
.with-underline {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 50px;
    height: 2px;
    background-color: #c6c4c9;
    transform: translateX(-50%);
  }
}
/* overlay */
.overlay {
  background-image: linear-gradient(0deg, rgb(9, 5, 47) 0%, rgb(49, 29, 94) 100%);
  opacity: 0.851;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.content-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(49, 29, 94);
  opacity: 0;
  z-index: 0;
  transition: opacity 0.4s ease-out;
}
.content-overlay.shift{
  opacity: 0.8;
  z-index: 15;
}
