/* Roboto font */
@mixin roboto-font-thin{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
@mixin roboto-font-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@mixin roboto-font-regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin roboto-font-black{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
/* Playfair Display font */
@mixin playfair-font-regular{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
@mixin playfair-font-bold{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
@mixin playfair-font-black{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
/* Hammersmith One font */
@mixin hammersmith-font-regular{
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}
/* Raleway font */
@mixin raleway-font-regular{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}