@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 960px;
    }
}

@media (max-width: 1199px) {
    /*       --------------------        header  1199px       ---------------------------         */
}

@media (max-width: 991px) {
    /*       --------------------        header   991px      ---------------------------         */
    .logo {
        justify-content: flex-start;
        align-items: center;
    }
    .logo__title {
        margin-left: 20px;
    }

    /*       --------------------        about   991px      ---------------------------         */
    .about__content {
        padding-left: 50px;
    }

    /*       --------------------        expertise   991px      ---------------------------         */
    .expertise__item {
        padding: 0 10px;
        margin-bottom: 70px;
    }

    /*       --------------------        contact   991px      ---------------------------         */
    .contact__form-block {
        margin-bottom: 70px;
    }
    .client__title {
        text-align: center;
    }

    /*       --------------------        people   991px      ---------------------------         */
    .quote__text {
        font-size: 14px;
        line-height: 1.5;
    }
    .people-carousel-control-next {
        right: 130px;
    }
    .people-carousel-control-prev {
        left: 130px;
    }

/*       --------------------        footer   991px      ---------------------------         */
    .footer__right-column{
        padding-top: 50px;
    }
    .footer__title {
        margin-bottom: 20px;
    }
    .footer__info {
        max-width: 100%;
        margin-bottom: 60px;
    }
    .footer__social{
        width: 100%;
        grid-template-columns: repeat(auto-fit, 55px);
    }
    .copyright{
        text-align: center;
    }
}

@media (max-width: 767px) {
    /*       --------------------        header   767px      ---------------------------         */
    .header {
        padding: 25px 0 35px 0;
    }
    .logo {
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .logo__title {
        margin-left: 15px;
    }
    .nav__link {
        font-size: 12px;
    }
    .main__text {
        margin-bottom: 40px;
    }

    /*       --------------------        about   767px      ---------------------------         */
    .about__img {
        margin-bottom: 40px;
    }
    .about__content {
        padding-left: 0px;
        text-align: center;
    }

    /*       --------------------        expertise   767px      ---------------------------         */
    .expertise__description {
        margin-bottom: 70px;
    }
    .expertise__item {
        padding: 0 18px;
        margin-bottom: 50px;
    }

    /*       --------------------        people   767px      ---------------------------         */
    .quote__text {
        @include roboto-font-thin;
        font-size: 14px;
        line-height: 1.5;
    }
    .people-carousel-control-next {
        right: 0;
    }
    .people-carousel-control-prev {
        left: 0;
    }

    /*       --------------------        footer   767px      ---------------------------         */
    .footer__middle-column{
        padding-top: 50px;
    }
    .footer__nav {
        justify-content: center;
        li{
            margin-right: 30px;
        }
    }
}

@media (max-width: 575px) {
    /*       --------------------        html   575px      ---------------------------         */
    html{
        scroll-behavior: auto;
      }

    /*       --------------------        underlay   575px      ---------------------------         */
    .underlay{
        display: block;
    }
    .content-wrap{
        // transform: translateY(30px);
    }
    .small-navbar{
        display: block;
    }

    /*       --------------------        header   575px      ---------------------------         */
    .header__navbar {
        display: none;
    }
    .logo {
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0px;
    }
    .logo__img {
        width: 75%;
        height: 75%;
    }
    .logo__title {
        font-size: 24px;
        margin-left: 0px;
        @include roboto-font-light;
    }
    .header__nav {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .main__title {
        @include playfair-font-bold;
        font-size: 26px;
        margin-bottom: 55px;
    }
    .main__text {
        line-height: 1.8;
        margin-bottom: 50px;
    }
    .main-carousel-indicators{
        display: none;
    }

    /*       --------------------        about   575px      ---------------------------         */
    .about__description {
        padding: 40px 0;
    }
    .about__img {
        margin-bottom: 30px;
    }
    .about__title {
        margin-bottom: 15px;
    }
    .about_text {
        margin-bottom: 15px;
        &:nth-child(3) {
            margin-bottom: 35px;
        }
    }

    /*       --------------------        expertise   575px      ---------------------------         */
    .expertise {
        padding: 50px 0 15px;
    }
    .expertise__item {
        padding: 0 100px;
        margin-bottom: 40px;
        .item__img {
            margin-bottom: 25px;
        }
        .item__title {
            margin-bottom: 15px;
        }
    }

    /*       --------------------        teams   575px      ---------------------------         */
    .teams {
        padding: 50px 0 53px;
    }
    .teams__item {
        width: 220px;
        margin: 0 auto 40px auto;
    }

    /*       --------------------        works   575px      ---------------------------         */
    .works__head {
        padding: 40px 0;
    }
    .works__footer {
        padding: 53px 0;
    }

    /*       --------------------        people   575px      ---------------------------         */
    .people {
        padding: 40px 0;
    }
    .people__sign {
        font-size: 50px;
    }
    .quote__text {
        margin-bottom: 30px;
    }
    .quote__subtitle {
        margin-bottom: 0px;
    }
    .people-carousel{
        padding: 0 15px;
    }
    .people-carousel-indicators{
        display: none;
    }
    .carousel-control{
        display: none;
    }

    /*       --------------------        contact   575px      ---------------------------         */
    .contact {
        padding: 40px 0;
    }
    .contact__form-block {
        padding: 0 30px;
    }
    .contact__title {
        text-align: center;
    }
    .form-contact__message {
        height: 150px;
    }
    .form-contact__btn {
        width: 100%;
    }
    .contact__form-block {
        margin-bottom: 50px;
    }
    .client__title{
        margin-bottom: 25px;
    }

    /*       --------------------        footer   575px      ---------------------------         */
    .footer{
        padding: 40px 0;
    }
    .footer__logo{
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer-column{
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer__middle-column,
    .footer__right-column{
        padding-top: 20px;
    }
    .footer__info {
        margin-bottom: 30px;
    }
    .footer__social{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
        margin-bottom: 40px;
    }
}

@media (max-width: 530px) {
    /*       --------------------        expertise   530px      ---------------------------         */
    .expertise__item {
        padding: 0 75px;
    }
}

@media (max-width: 480px) {
    /*       --------------------        works   480px      ---------------------------         */
    .works__head {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .works__text {
        margin-top: 15px;
    }

    /*       --------------------        contact   480px      ---------------------------         */
    .people {
        padding: 20px 0 40px;
    }
    .people-carousel{
        padding: 0;
    }

    /*       --------------------        teams   480px      ---------------------------         */
    .teams__item {
        width: 160px;
        .item__description {
            padding: 16px 0 18px;
        }
    }
    .teams__text {
        margin-bottom: 50px;
    }
}

@media (max-width: 400px) {
    /*       --------------------        expertise   400px      ---------------------------         */
    .expertise {
        padding: 40px 0 15px;
    }
    .expertise__item {
        padding: 0;
    }

    /*       --------------------        teams   400px      ---------------------------         */
    .teams {
        padding: 40px 0 53px;
    }

    /*       --------------------        contact   400px      ---------------------------         */
    .contact__form-block {
        padding: 0 15px;
    }
    .client-galery__item img {
        max-width: 80%;
    }

    /*       --------------------        footer   400px      ---------------------------         */
    .footer{
        padding: 20px 0;
    }
    .footer__form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-footer__email {
        width: 100%;
        margin-bottom: 10px;
    }
    .form-footer__btn{
        width: 100%;
    }
    .footer__nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        li{
            margin: 0;
        }
    }
    .footer__social{
        margin-bottom: 30px;
    }
}
